{% extends "layout.html" %}
{% block content %}
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Position</th>
			<!-- <th>Plan</th> -->
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for item in candidates %}
		<tr>
			<td>{{ item.name }}</td>
			<td>{{ item.email }}</td>
			<td>{{ item.position }}</td>
			<!-- <td>{{ item.plan.title }}</td> -->
			<td>
				<a href="{{ url_for('candidates.update', candidate_id=item.id) }}"><button type="button" class="btn btn-info btn-sm m-1">Edit</button></a>
				<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal{{item.id}}">Delete</button>
			</td>
		</tr>   
		<div class="modal fade" id="deleteModal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel">Delete Candidate?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<form action="{{ url_for('candidates.delete_candidate', candidate_id=item.id) }}" method="POST">
							<input class="btn btn-danger" type="submit" value="Delete">
						</form>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</tbody>
</table>



{% endblock content %}

